*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after {
box-sizing: border-box;
}

ol,
ul,
menu{
    list-style: none;
}
a {
text-decoration: none;
color: inherit;
}
body{
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
min-height: 10vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav__list{
    display: flex;
     
}
.nav__item{
    margin-right: 45px;
    
}
.nav__item:last-child{
    margin-right: 0;
}